page-home {
  #bookCover {}
  .bookTitle {
    font-size: 1.5em;
  }
  ion-scroll {
    white-space: nowrap;
    height: 250px
  }
  .downloaded-books {
    max-width: 50%;
  }
  .read-now-books {
    padding: 5px;
  }
  .read-now-books-section {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 10px;
  }
  .book-title {
    text-align: center;
    margin-top: -2px;
  }
  .book-title-row {
    padding-left: 5px;
    padding-right: 5px
  }
  #downloaded-content-background {
    background: #EFEFEF;
    margin-top: -10px;
    padding-bottom: 10px
  }
  .toolbar-title-ios,
  .toolbar-title-md {
    text-align: center;
    color: #000;
  }
  @media screen and (min-height: 690px) and (max-height: 780px) {
    #downloaded-content-background {
      padding-bottom: 20px;
    }
    ion-scroll {
      white-space: nowrap;
      height: 280px;
    }
  }
  ::-webkit-scrollbar {
    display: none !important;
  }
  .book-template {
    border: solid 1px;
    min-height: 140px;
    min-width: 30px;
  }
  .book-template p {
    font-size: 5.9vw;
  }
}
