<!--
  Generated template for the Favorites page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Favorites</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="favoritesList.length > 0">
    <ion-item-sliding *ngFor="let favourite of favoritesList;  let i = index">
      <ion-item (click)="openFavorites(favourite)">
        {{ favourite.title }}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeFavorites(favourite.id)">
          <ion-icon name="trash"></ion-icon>
          Remove
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <div *ngIf="favoritesList.length === 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/img/save-to-fav.png" />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h3 class="center-text">Save to favorites</h3>
          <p class="center-text"> Press and hold on the paragraph that you want to save to favorites.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>